default vesamenu.c32
prompt 1
timeout 100

display boot.msg

label rhel7
  menu label Install RHEL ^7
  menu default
  kernel images/rhel/7/vmlinuz
  append initrd=images/rhel/7/initrd.img ip=dhcp inst.repo=http://{{ pxe_repo_http_server }}/dvd/rhel/7 inst.ks=http://{{ pxe_repo_http_server }}/ks/rhel7.cfg

label rhel8
  menu label Install RHEL ^8
  kernel images/rhel/8/vmlinuz
  append initrd=images/rhel/8/initrd.img ip=dhcp inst.repo=http://{{ pxe_repo_http_server }}/dvd/rhel/8/x86_64/

lael vesa
  menu label Install system with ^basic video driver
  kernel images/rhel/7/vmlinuz
  append initrd=images/RHEL-7.1/initrd.img ip=dhcp inst.xdriver=vesa nomodeset inst.repo=http://{{ pxe_repo_http_server }}/dvd/rhel/7

label rescue7
  menu label ^Rescue RHEL 7 installed system
  kernel images/rhel/7/vmlinuz
  append initrd=images/rhel/7/initrd.img rescue

label rescue8
  menu label Rescue RHEL 8 installed system
  kernel images/rhel/8/vmlinuz
  append initrd=images/rhel/8/initrd.img rescue

separator

# 
include pxelinux.cfg/local-disk
